{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "exclude": ["\\.spec\\.ts$"],
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "module": {
    "type": "es6"
  }
}
